@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/filters.css";

.multiTool {
    width: 40px;
    height: 40px;
    position: relative;
}

.tools {
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    gap: calc(2 * $grid-unit);
}

.tool:first-child {
    margin-left: calc((40px + 2 * $grid-unit) * var(--index) * -1);
}

.multiTool:hover .tools {
    width: auto;
    --index: 0;
    background-color: $ui-pane-border;
    border-radius: .25rem;
}

.arrow {
    width: 6px;
    position: absolute;
    z-index: 255;
    top: 2px;
    right: 2px;
    filter: $filter-icon-gray;
}

.arrow.selected {
    filter: brightness(0) invert(1);
}

.multiTool:hover .arrow {
    display: none;
}